* {
  box-sizing: border-box;
}

/*
Here are commonly used media query break points:

Extra small devices (portrait phones) - up to 576px
@media (max-width: 575.98px) - styles for extra small devices 

Small devices (landscape phones) - from 576px to 767px
@media (min-width: 576px) and (max-width: 767.98px) - styles for small devices

Medium devices (tablets) - from 768px to 991px
@media (min-width: 768px) and (max-width: 991.98px) - styles for medium devices

Large devices (laptops/desktops) - from 992px to 1199px
@media (min-width: 992px) and (max-width: 1199.98px) - styles for large devices

Extra large devices (large laptops and desktops) - 1200px and above
@media (min-width: 1200px) - styles for extra large devices

TODO:
Create a simple media query that changes the background color of a webpage for each size stated above

*/
/* Screen, print, speech, all */
/* and, or, not,
  only - e.g. '@media only screen ...'
 */



@media all and ( max-width: 576.99px )  {
 body {
  background-color:  #234212 ;
  
 }
}

@media all and (min-width: 577px) and (max-width: 767.99px) {
  body {
   background-color:  aqua ;
  }
 }

 @media all and (min-width: 768px) and (max-width: 991.99px) {
  body {
   background-color:  purple ;
  }
}

 @media all and (min-width: 992px) and (max-width: 1199.98px) {
  body {
   background-color:  grey ;
  }
 }

 @media all and (min-width: 1200px){
  body {
   background-color:  bisque ;
  }
 }

