* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
#container {
  height: 500px;
  width: 100vw;
  background-color: grey;
}

#content {
  height: 150%;
  background-color: green;
}
